$font-sizes: (
  xsmall: 10px,
  small: 11px,
  medium: 12px,
  large: 13px,
  xlarge: 14px,
  xxlarge: 15px,
  xxxlarge: 16px,
  xxxxlarge: 17px,
  normal: 18px,
  medium-large: 19px,
  extra-large: 20px,
  xxextra-large: 21px,
  xextralarge: 22px,
  large-xlarge: 23px,
  large-xxlarge: 24px,
  large-xxxlarge: 25px
);